<a href="https://colab.research.google.com/github/sreneee/OOP-58002/blob/main/OOP_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Classes with Multiple Objects

In [ ]:
class Birds:
  def __init__(self, bird_name):
    self.bird_name = bird_name
  
  def flying_birds(self):
    print(f"{self.bird_name} flies above clouds")

  def non_flying_birds(self):
    print(f"{self.bird_name} is the national bird of the Philippines")
  
vulture = Birds("Griffon Vulture")
crane = Birds("Common Crane")
emu = Birds("Emu")

vulture.flying_birds()
crane.flying_birds()
emu.non_flying_birds()

Griffon Vulture flies above clouds
Common Crane flies above clouds
Emu is the national bird of the Philippines

Encapsulation

In [ ]:
class foo:
  def __init__(self, a , b):
    self.__a = a
    self.__b = b

  def add(self):
    return self.__a + self.__b
  def sub(self):
    return self.__a - self.__b
foo_object = foo(3,4)

print(foo_object.add()) #adding a and b
print(foo_object.sub()) #subtracting a and b

foo_object.__b = 5
foo_object.__a = 7

print(foo_object.add())
print(foo_object.sub())

7
-1
7
-1

Inheritance

In [ ]:
class Person:
  def __init__(self,firstname, surname):
    self.firstname = firstname
    self.surname = surname
  
  def printname(self):
    print(self.firstname, self.surname)

person = Person("Ashley", "Goce")
person.printname()

class Student(Person):
  pass

person = Student("Denise", "Goce")
person.printname()

Ashley Goce
Denise Goce

Polymorphism

In [ ]:
class RegularPolygon:
  def __init__(self,side):
    self.side = side
class Square(RegularPolygon):
  def area(self):
    return self.side*self.side
class EquillateralTriangle(RegularPolygon):
  def area(self):
    return self.side*self.side*0.433

x = Square(4)
y = EquillateralTriangle(3)

print(x.area())
print(y.area())

16
3.897

Application 1

In [1]:
class Person:
  def __init__(self,std1,pre,mid,fin):
    self.std1 = std1
    self.pre = pre
    self.mid = mid
    self.fin = fin

  def Grade(self):
    print(self.std1)
    print(self.pre)
    print(self.mid)
    print(self.fin)

s1 =Person("Student 1",'Prelim: 90','Midterm: 87','Finals: 94\n')
s1.Grade()

avg =(90+87+94)/3
print('Average grade is: ' + str(avg)+'\n')

def __init__(self,std2,pre,mid,fin):
  self.std2 = std2
  self.pre = pre
  self.mid = mid
  self.fin = fin

def Grade(self):
  print(self.std2)
  print(self.pre)
  print(self.mid)
  print(self.fin)

s2 =Person("Student 2",'Prelim: 77','Midterm: 83','Finals: 89\n')
s2.Grade()

avg =(77+83+89)/3
print('Average grade is: ' + str(avg)+'\n')

def __init__(self,std3,pre,mid,fin):
  self.std3 = std3
  self.pre = pre
  self.mid = mid
  self.fin = fin

def Grade(self):
  print(self.std3)
  print(self.pre)
  print(self.mid)
  print(self.fin)

s3 =Person("Student 3",'Prelim: 93','Midterm: 97','Finals: 84\n')
s3.Grade()

avg =(93+97+84)/3
print('Average grade is: ' + str(avg)+'\n')

Student 1
Prelim: 90
Midterm: 87
Finals: 94

Average grade is: 90.33333333333333

Student 2
Prelim: 77
Midterm: 83
Finals: 89

Average grade is: 83.0

Student 3
Prelim: 93
Midterm: 97
Finals: 84

Average grade is: 91.33333333333333