<a href="https://colab.research.google.com/github/sreneee/OOP-58002/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [ ]:
a = 7
b = 6
print(10>9)
print(10<9)
print(a>b)

True
False
True

bool()function

In [ ]:
print(bool("Maria"))
print(bool(1))
print(bool(0))
print(bool(None))
print(bool(False))
print(bool(True))

True
True
False
False
False
True

Functions can return a Boolean::

In [ ]:
def my_Function():
  return False

print(my_Function())

False

In [ ]:
if my_Function():
  print("True")
else:
  print("False")

False

Application 1

In [ ]:
print(a==b)
a<b

False

False

Python Operators

In [ ]:
print(10+5)
print(10-5)
print((10/3))
print(10%5)
print(10*5)
print(10//5)
print(10**2)

15
5
3.3333333333333335
0
50
2
100

Bitwise Operators

In [ ]:
c = 60 # binary 0011 1100
d = 13 # binary 0000 1101

c&d
print(c|d)
print(c^d)

print(d<<2)

61
49
52

Logical Operators

In [ ]:
h = True
l = False
h and l
h or l
not (h or l)

False

Application 2

In [ ]:
#Python Assignment Operators

x = 100
x+=3 #Sames as x = x+3, x = 100+3
print(x)

103

Identity Operators

In [ ]:
h is l
h is not l

True

#Control Structure

If statement

In [ ]:
if a>b:
  print("a is greater than b")

a is greater than b

Elif Statement

In [ ]:
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")

a is greater than b

Else Statement

In [2]:
a = 10
b = 10
if a<b:
  print("a is less than b")
elif a>b:
  print("a is greater than b")
else:
  print("a is equal to b")

a is equal to b

Short Hand If Statement

In [ ]:
if a==b: print("a is equal to b ")

a is equal to b

Short Hand If...Else Statement

In [ ]:
a = 10
b = 9
print("a is greater than b") if a>b else print("b is greater than a")

a is greater than b

And

In [6]:
if a>b and b==b:
 print("both conditions are true")

Or

In [7]:
if a<b or b==b:
  print("the condition are True")

the condition are True

Nested if

In [ ]:
x = int(input())
if x>10:
 print("x is above 10")
if x>20:
 print("and also above 20")
if x>30:
 print("and also above 30")
if x>40:
 print("and also above 40")
else:
 print("but not above 40")

45
x is above 10
and also above 20
and also above 30
and also above 40

#Loop Statement

For Loop

In [10]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [11]:
#to display Sunday to Wednesday using For loop
for x in week:
  print(x)
  if x=="Wednesday":
    break

Sunday
Monday
Tuesday
Wednesday

In [ ]:
#to display only Wednesday using break statement

for x in week:
  if x=="Wednesday":
    break
print(x)

While Statement

In [ ]:
i = 1
while i<6:
 print(i)
 i+=1 #same as i = i+1

1
2
3
4
5

Application 3 - Create a python program that displays no.3 using break statement

In [14]:
i=1
while i<6:
   if i==3:
     break
   i+=1
print(i)

3